PORT = 8001
MONGO_URL = mongodb+srv://arnabsarkar342_db_user:arnabsarkar12345@chatappdb.u0hzptt.mongodb.net/chatappdb
JWT_SECRET = hfjerejwe123QWE
CLOUD_NAME = dfvceinlc
API_KEY = 125836688363323
API_SECRET = YAIPhoi9MaSFugzSBJ9_LI2t9BA